In [4]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
from datetime import datetime, timedelta
from math import ceil

In [198]:
class CinemaDataset():
    class Session():
        def __init__(self, start_datetime, min_duration_hours=1, max_duration_hours=3):
            self.start_datetime = start_datetime
            self.min_duration_hours = min_duration_hours
            self.max_duration_hours = max_duration_hours
            self.set_duration()
        
        def set_duration(self):
            self.duration = timedelta(hours=np.random.uniform(self.min_duration_hours, self.max_duration_hours))
            self.end_datetime = self.start_datetime + self.duration
            
    
    def __init__(self, num_rows=30, num_places=10, seed=0):
        np.random.seed(seed)
        self.seed = seed
        self.num_rows = num_rows
        self.num_filled_rows = 0
        self.num_places = num_places
               
        # time of openning and closing of cinema
        self.start_hour = 8
        self.end_hour = 23
        # interval between films
        self.interval = timedelta(minutes=30)       
        
        # emulation start time
        self.start_datetime = datetime(year=2019, month=9, day=1, hour=self.start_hour)
    
    def get_ages(self, size):
        return np.random.normal(30, 7, size=size).astype(int).reshape(-1, 1)
    
    def get_sexes(self, size):
        sex_bin = np.random.binomial(1, 0.5, size=size).reshape(-1, 1)
        return np.apply_along_axis(lambda x: 'male' if x else 'female', 1, sex_bin).reshape(-1, 1)
    
    def get_datetimes(self, session, num_seats):
        max_early =  - timedelta(minutes=15).total_seconds()
        max_late = timedelta(minutes=15).total_seconds()
        
        # for beginning of the film
        delays_start = np.random.uniform(low=max_early, high=max_late, size=num_seats).reshape((-1, 1))
        delays_start = np.apply_along_axis(lambda x: timedelta(seconds=x[0]), 1, delays_start).reshape((-1, 1))
        start_datetimes = delays_start + session.start_datetime
        
        # for ending of the film
        delays_end = np.random.uniform(low=max_early, high=max_late, size=num_seats).reshape((-1, 1))
        delays_end = np.apply_along_axis(lambda x: timedelta(seconds=x[0]), 1, delays_end).reshape((-1, 1))
        end_datetimes = delays_end + session.end_datetime
        return start_datetimes, end_datetimes
    
    def get_seats(self):
        num_seats = np.random.randint(low=int(self.num_places * 0.7), high=self.num_places)
        seats = np.random.choice(self.num_places, size=num_seats, replace=False).reshape((-1, 1))
        return seats
    
    def generate(self):
        self.num_sessions = ceil(self.num_rows / self.num_places)
        self.current_datetime = self.start_datetime
        
        day_start_datetime = self.start_datetime
        day_end_datetime = day_start_datetime + timedelta(hours=self.end_hour - self.start_hour)
        
        total_seats = []
        total_ages = []
        total_sexes = []
        total_start_times = []
        total_end_times = []
        for i in range(self.num_sessions):
            # set the next day if cinema is closing
            if self.current_datetime >= day_end_datetime:
                day_start_datetime = day_start_datetime + timedelta(days=1)
                day_end_datetime = day_end_datetime + timedelta(days=1)
            seats = self.get_seats()
            ages = self.get_ages(len(seats))
            sexes = self.get_sexes(len(seats))
            session = CinemaDataset.Session(self.current_datetime)
            start_datetimes, end_datetimes = self.get_datetimes(session=session, num_seats=len(seats))
            
            # collect everything into lists
            total_seats.append(seats)
            total_ages.append(ages)
            total_sexes.append(sexes)
            total_start_times.append(start_datetimes)
            total_end_times.append(end_datetimes)
            
            self.current_datetime = self.interval + session.end_datetime
            
        table = np.hstack([
            np.vstack(total_seats), 
            np.vstack(total_ages), 
            np.vstack(total_sexes), 
            np.vstack(total_start_times), 
            np.vstack(total_end_times)])
        columns = ['seat', 'age', 'sex', 'start_time', 'end_time']
        data = pd.DataFrame(table, columns=columns)
        return data

data_generator = CinemaDataset(num_rows=1000, num_places=5, seed=1)

data = data_generator.generate()

In [199]:
data

    seat age     sex                  start_time                    end_time
0      2  26    male  2019-09-01 07:51:53.238985  2019-09-01 09:51:08.118256
1      1  20    male  2019-09-01 08:01:01.945036  2019-09-01 10:06:23.290856
2      4  41    fema  2019-09-01 08:12:25.131644  2019-09-01 10:01:33.961460
3      0  22    male  2019-09-01 07:58:42.968654  2019-09-01 09:59:41.607764
4      3  32    male  2019-09-01 10:16:54.194188  2019-09-01 11:32:56.735660
5      2  32    male  2019-09-01 10:12:28.677079  2019-09-01 11:50:38.481276
6      0  28    male  2019-09-01 10:31:42.826886  2019-09-01 11:51:44.371614
7      4  29    fema  2019-09-01 10:20:35.430750  2019-09-01 11:40:52.518831
8      3  28  female  2019-09-01 12:16:40.058987  2019-09-01 13:38:11.274682
9      4  33    male  2019-09-01 12:03:31.279881  2019-09-01 13:51:27.913213
10     0  25  female  2019-09-01 12:19:08.638990  2019-09-01 13:54:46.728295
11     0  27  female  2019-09-01 14:30:16.789103  2019-09-01 15:34:07.577596
12     2  40  female  2019-09-01 14:20:00.581988  2019-09-01 15:18:41.384840
13     3  31    male  2019-09-01 14:17:13.527574  2019-09-01 15:23:30.897476
14     3  35    male  2019-09-01 16:06:18.445111  2019-09-01 17:57:13.070259
15     2  36    fema  2019-09-01 15:57:15.927722  2019-09-01 17:42:13.831433
16     0  31    fema  2019-09-01 15:56:00.785322  2019-09-01 17:46:05.090899
17     1  36    male  2019-09-01 15:40:48.275777  2019-09-01 17:40:58.635838
18     1  32    male  2019-09-01 18:19:27.604045  2019-09-01 20:54:22.782025
19     4  15    male  2019-09-01 18:28:39.170724  2019-09-01 21:18:14.609509
20     0  27    fema  2019-09-01 18:03:54.202508  2019-09-01 21:11:10.210367
21     2  35    male  2019-09-01 21:49:21.210023  2019-09-01 23:37:32.758123
22     1  25    male  2019-09-01 21:37:05.792071  2019-09-01 23:54:46.193782
23     4  32    fema  2019-09-01 21:20:49.502797  2019-09-01 23:42:11.553589
24     3  30    fema  2019-09-01 21:44:17.076487  2019-09-01 23:56:27.779768
25     0  37    male  2019-09-02 00:17:35.985261  2019-09-02 03:18:56.680543
26     1  35    fema  2019-09-02 00:06:39.332252  2019-09-02 03:02:29.567072
27     2  23    fema  2019-09-02 00:08:07.590770  2019-09-02 03:14:04.240075
28     1  37    male  2019-09-02 03:38:02.048117  2019-09-02 05:44:08.814789
29     0  32    male  2019-09-02 03:43:09.500800  2019-09-02 05:38:11.362287
..   ...  ..     ...                         ...                         ...
671    1  25    male  2019-09-21 02:14:03.592113  2019-09-21 05:08:52.829630
672    0  29    fema  2019-09-21 02:20:59.249083  2019-09-21 04:55:48.870748
673    4  26  female  2019-09-21 05:30:39.032129  2019-09-21 06:33:04.355579
674    3  33    male  2019-09-21 05:46:33.904373  2019-09-21 06:41:56.665243
675    0  27    male  2019-09-21 05:27:00.592463  2019-09-21 06:32:31.386743
676    1  24  female  2019-09-21 05:22:26.615963  2019-09-21 06:48:53.119300
677    3  33    male  2019-09-21 07:28:08.265357  2019-09-21 08:29:35.655458
678    1  24    male  2019-09-21 07:09:37.211310  2019-09-21 08:43:43.461398
679    2  19    male  2019-09-21 07:09:25.554068  2019-09-21 08:29:40.240300
680    0  29    male  2019-09-21 07:26:20.720724  2019-09-21 08:34:03.750043
681    4  28  female  2019-09-21 08:51:17.159798  2019-09-21 10:22:57.405219
682    1  29    male  2019-09-21 09:14:42.509881  2019-09-21 10:15:23.969819
683    2  24    male  2019-09-21 09:03:06.628282  2019-09-21 10:27:19.231777
684    3  29  female  2019-09-21 09:11:36.843929  2019-09-21 10:19:55.182417
685    3  31  female  2019-09-21 10:53:37.696284  2019-09-21 12:57:07.739580
686    2  17  female  2019-09-21 11:11:50.665586  2019-09-21 12:28:40.251347
687    0  24    male  2019-09-21 10:54:57.194057  2019-09-21 12:37:00.455532
688    4  36    male  2019-09-21 11:02:46.828238  2019-09-21 12:34:30.344070
689    0  32    male  2019-09-21 13:03:44.037521  2019-09-21 14:25:45.944698
690    1  35    male  2019-09-21 13:14:36.455953  2019-09-21 14:34:58.208464
691    2  37    fema  2019-09-21 13:17:27.598653  2019-09-21 14:53:06.425129
692    4  32    fema  2019-09-21 13:13:23.471308  2019-09-21 14:44:56.436629
693    0  30  female  2019-09-21 15:08:49.983147  2019-09-21 16:45:19.669755
694    1  33  female  2019-09-21 15:19:58.452240  2019-09-21 17:03:10.119929
695    3  38  female  2019-09-21 15:07:56.971900  2019-09-21 16:51:33.552891
696    2  38  female  2019-09-21 14:54:50.849175  2019-09-21 16:40:29.181011
697    0  36    male  2019-09-21 17:12:20.690864  2019-09-21 19:07:09.928492
698    4  20    fema  2019-09-21 17:17:38.070864  2019-09-21 19:04:41.686977
699    3  34    fema  2019-09-21 17:23:17.897690  2019-09-21 19:21:06.889725
700    1  21    fema  2019-09-21 17:06:05.041161  2019-09-21 19:23:51.483345

[701 rows x 5 columns]